<div
  class="todo-item"
  [class.completed]="todo.completed"
  (click)="onToDoClicked(todo)"
>
  <div class="check-box">
    <i class="material-icons">check</i>
  </div>
  <div class="todo-text">
    {{ todo.text }}
  </div>
  <div class="todo-controls-box" appToolTipSingleton (click)="$event.stopPropagation()">
    <div class="todo-control-button" (click)="onEditClicked()" appToolTip="Edit Todo">
      <i class="material-icons">edit</i>
    </div>

    <div class="todo-control-button is-danger" (click)="onDeleteClicked()" appToolTip="Delete Todo">
      <i class="material-icons">delete</i>
    </div>
  </div>
</div>
